{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<span>
  <li class="btn">
    <a class="s-b-flxs" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"><img src="{% static 'img/svg/'%}{{brand.name}}-ico.svg">{{brand.name}}</a>
  </li>
  {% endfor %}
  {% endif %}
  <li class="btn">
    <a class="s-b-flx" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'img/svg/'%}{{provider.name|lower}}-ico.svg">{{provider.name}}</a>
  </li>
</span>
{% endfor %}