{% extends "base.html" %}
{% block head_title %}World Map{% endblock %}
{% load static %}
{% block content %}
<form action="{% url 'world' %}">
  <span>
    <input type="text" placeholder="Player" aria-label="player" name='player'>
    <input type="text" placeholder="Clan" aria-label="clan" name='clan'>
    <select name="name" id="name">
      <option value="">--Item--</option>
      {% for name in names %}
      <option value="{{name.name}}">{{name.name}}</option>
      {% endfor %}
    </select>
    <select name="realm" id="realm">
      <option value="">--Realm--</option>
      {% for realm in realms %}
      <option value="{{realm.world_id}}">{{realm.world_id}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Search"></span>
</form>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="world">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Clan</th>
      <th scope="col">X</th>
      <th scope="col">Y</th>
      <th scope="col">Realm</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for segment in worldsegments %}
    <tr>
      <td class="world"><a href="{% url 'world' %}?name={{segment.name}}">{{segment.name}}</a></td>
      <td class="world"><a href="{% url 'world' %}?player={{segment.owner_username}}">{{segment.owner_username}}</a></td>
      <td class="world"><a href="{% url 'world' %}?clan={{segment.owner_group_name}}">{{segment.owner_group_name}}</a></td>
      <td class="world">{{segment.x}}</td>
      <td class="world">{{segment.y}}</td>
      <td class="world"><a href="{% url 'world' %}?realm={{segment.world_id}}">{{segment.world_id}}</a></td>
      <td class="world">{{segment.last_modified}}</td>
      {% empty %}
    <tr>
      <td>No match</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
{% include 'comps/pagination.html' %}
{% endif %}

{% endblock %}