/*					
	Author		HeckGuide.com // Kevin Cornish & Sergio Estrada
*/

/* Fonts */
@font-face {
  font-family: "Troika";
  src: url("/static/fonts/Troika.woff") format("woff"),
    url("/static/fonts/Troika.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --black-1: #424242;
  --black-hover: #5F5F5F;
  --black-active: #ABABAB;
  --gray-blue: #84949D;
  --gray-hover: #A0B1BB;
  --yellow-1: #FFC327;
  --yellow-hover: #E5AA12;
  --yellow-active: #FFD872;
  --gray-1: #F0F4F8;
  --gray2: #222222;
  --gray3: #888888;
  --gray4: #E5E5E5;
  --gray5: #CFCFCF;
  --gray6: #AAAAAA;
  --hotpink-1: #EF5DE0;
  --hotpink-hover: #CD60C2;
  --hotpink-active: #CD60C2;
  --red-1: #ED3636;
  --green-1: #7DA619;
  /* Fonts */
  --karla-font: 'Karla', sans-serif;
  --troika-font: 'Troika', sans-serif;
  /* Font Sizes */
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  /* Border */
  --border-radius: 6px;
  --border: 2px solid transparent;
  /* Transitions */
  --transition0: all 0.25s ease;
  --transition1: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  --transition2: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  --transition3: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  /* Spacing 8pt grid */
  --px8: 0.5rem;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--black-1);
  font-family: var(--karla-font);
  font-weight: normal;
  position: relative;
}

.clear {
  clear: both;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 32px;
}

/*Heading, Subheadings and paragraph */
p {
  font-size: 1rem;
}

h1,
h2 {
  font-family: var(--troika-font);
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2.25rem;
}

/* Inputs, buttons, labels and selects */
input {
  font-family: var(--karla-font);
  outline: none;
}

input,
select,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 18px;
  border-radius: var(--border-radius);
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  width: 100%;
  max-width: 250px;
  background-color: var(--white);
  border: var(--border);
  border-color: var(--gray-hover);
  transition: var(--transition0);
  /* Font - Text */
  font-family: var(--karla-font);
  color: var(--black-1);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.16px;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover {
  border-color: var(--gray-blue);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus {
  border-color: var(--black)
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder {
  color: var(--black-active);
}

input[type=submit],
button[type=submit],
.btn {
  width: 100%;
  cursor: pointer;
  background-color: var(--black);
  /* Font - Text */
  font-family: var(--karla-font);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025px;
  transition: var(--transition1);
}

input[type=submit]:hover,
button[type=submit]:hover,
.btn:hover {
  background-color: var(--black-hover);
}

input[type=submit]:active,
button[type=submit]:active,
.btn:active {
  background-color: var(--black-active);
}

input[type=submit],
button[type=submit] {
  max-width: 140px;
  text-transform: uppercase;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100vw;
  max-width: 222px;
  /* Font - Text */
  font-family: var(--karla-font);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.16px;
  position: relative;
  background: url(/static/img/svg/select-arrow-white.svg) no-repeat right var(--gray-blue);
  background-position: calc(222px - (18px * 2));
  transition: var(--transition1);
}

select option {
  background-color: var(--gray-blue);
}

select:hover,
select option:focus {
  background-color: var(--gray-hover);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  /* Disable arrow/spinners */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=password] {
  letter-spacing: 0.05rem;
}

label,
/* Form wrapper link*/
.form-wrapper a.secondaryAction {
  font-family: var(--karla-font);
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

/* Buttons */
.s-solid {
  background-color: var(--yellow-1);
}

.s-outline {
  border: var(--border);
  border-color: var(--yellow-1);
}

.s-outline2 {
  border: var(--border);
  border-color: var(--gray-blue);
}

.round {
  border-radius: 100px;
}

.sub-icon {
  margin-left: 8px;
}

/* Links */
.outer-links {
  color: var(--hotpink-1);
  text-decoration: underline;
}

/* Images */
.townhall {
  display: block;
  width: 100%;
  max-width: 258px;
}

/* Components */
/* Backgrounds */
.background-grd1 {
  background: rgb(125, 166, 25);
  background: -moz-radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  background: radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7da619", endColorstr="#4b9600", GradientType=1);
}

.background-grd2 {
  background-color: var(--gray-1);
}

/* Patterns */
.ptt1 {
  background: url("/static/img/svg/hero-pattern.svg");
  background-repeat: repeat;
  height: 100%;
  z-index: 9997;
  position: relative;
}

/* Universal flex & center */
.center {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}

.right-l-m-a {
  margin-left: auto;
}

.center-m-a {
  margin: 0 auto;
}

.center-flx {
  display: flex;
  align-items: center;
}

.s-b-flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flx {
  display: flex;
}

.flx-jc-fs {
  justify-content: flex-start;
}

.flx-jc-fe {
  justify-content: flex-end;
}

.wrap-flx {
  flex-wrap: wrap;
}

/* Landing Page */
/* Realm List */

.realms {
  width: 300px;
  float: left;
  margin: 5px;
}

.realms .header {
  background-color: var(--gray-blue);
  color: white;
  font-size: 15px;
}

.realms li {
  background-color: var(--green-1);
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

.realms .grey {
  background-color: #eee;
  font-size: 20px;
}

/* Sign In/Sign Up */
.form-wrapper {
  max-width: 420px;
  margin: 0 auto;
  background-color: var(--white);
  border: --border;
  border-radius: var(--border-radius);
  padding: 52px;
  border-radius: var(--border-radius);
}

.form-wrapper h1,
.form-wrapper h2 {
  color: var(--black);
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 24px;
}

.form-wrapper ul {
  list-style: none;
}

ul.socialaccount_providers li:nth-child(1) {
  background-color: var(--gray-hover);
  margin-bottom: 4px;
}

ul.socialaccount_providers li:nth-child(2) {
  background-color: var(--gray-blue);
}

ul.socialaccount_providers {
  list-style: none;
}

ul.socialaccount_providers a {
  width: 100%;
  font-weight: 700;
}

ul.socialaccount_providers li:nth-child(1) a {
  color: var(--gray-blue);
  font-weight: 800;
}

ul.socialaccount_providers li:nth-child(2) a {
  color: var(--white);
}

.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper input[type=password],
.form-wrapper input[type=submit],
.form-wrapper button[type=submit],
.form-wrapper .btn {
  max-width: 100%;
}

.form-wrapper label,
.form-wrapper form a {
  color: var(--gray-blue);
}

.form-wrapper label {
  margin: 8px 0;
  color: var(--gray-blue) !important;
}

.form-wrapper input[type="checkbox"] {
  margin-right: 8px;
}

.form-wrapper button[type="submit"] {
  margin-top: 12px;
}

.login-or {
  font-weight: 700;
  color: var(--gray-blue);
  text-align: center;
  margin: 24px 0;
  padding-bottom: 24px;
  border-bottom: var(--border);
  border-color: var(--gray-hover);
}

section,
section a {
  color: var(--black);
}

/* Hero section */
.hero {
  position: relative;
  /* Temporary */
  height: 200px;
}

.hero .ptt1 {
  padding: 48px 32px;
}

/* Wrappers */
.wrapper-c {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 64px;
}

/* Header */
header {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  border-radius: var(--border-radius);
}

/* Navigation */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 56px;
}

header nav ul,
footer nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul a,
footer nav ul a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--white);
}

header nav ul li a::after,
footer nav ul li a::after {
  display: block;
  content: '';
  height: 2px;
  width: 24px;
  background-color: var(--gray2);
  transition: var(--transition2);
  margin-top: 8px;
  border-radius: 9999px;
}

header nav ul li a:hover::after,
footer nav ul li a:hover::after {
  width: 100%;
  background-color: var(--yellow-1);
}

header nav ul:nth-child(1) li {
  margin-right: 38px;
}

header nav span ul li {
  margin-left: 38px;
}

header nav {
  position: relative;
}

header nav span {
  display: flex;
  align-items: center;
}

.main-nav-sub,
.main-account-sub,
.ally-nav-sub,
.realm-nav-sub {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--black);
  padding-top: 36px;
  padding-right: 42px;
  border-radius: var(--border-radius);
  position: absolute;
}

.main-nav-sub,
.ally-nav-sub,
.realm-nav-sub {
  padding-bottom: 16px;
}

.main-account-sub,
.main-nav-sub {
  padding-bottom: 32px;
}

.ms-show {
  display: block;
}

.main-account-sub li:nth-child(1) {
  margin: 24px 0;
}

.main-account-sub {
  padding-left: 32px;
  right: 0;
}

.main-account-sub li {
  margin-bottom: 20px;
}

.main-account-sub .btn {
  width: 230px;
  margin-top: 24px;
}

.nav-user-btns {
  display: flex;
}

.nav-user-btns a:nth-child(1) {
  margin-right: 8px;
}

.nav-user-btns .btn img {
  margin-right: 18px;
}

.main-nav-sub li,
.ally-nav-sub li,
.realm-nav-sub li {
  margin-bottom: 20px;
}

.main-nav-sub,
.ally-nav-sub,
.realm-nav-sub a {
  color: var(--white) !important;
}

.user-menu a {
  font-size: 0.875rem;
  font-weight: 700;
}

.user-menu li {
  /* Font - Text */
  letter-spacing: -0.32px;
}

.user-menu .s-solid:hover {
  background-color: var(--yellow-hover);
}

.user-menu .s-solid:active {
  background-color: var(--yellow-active);
}

.user-menu .s-outline:hover,
.user-menu .s-outline2:hover {
  background-color: var(--black);
}

.user-menu a:nth-child(2) li {
  color: var(--white) !important;
}

.usernameTitle {
  display: inline-block;
  margin-left: 0.125rem;
  text-transform: capitalize;
  color: var(--yellow-1);
}

.userMenu-Greeting {
  margin-top: 16px;
  margin-bottom: 24px;
  /* Font */
  font-size: 1.125rem;
  color: var(--black-hover);
}

/* Layout & Framework */
.message-wrapper {
  width: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: 32px;
  transition: var(--transition3);
}

.message-wrapper img {
  display: block;
  margin: 0 auto;
}

.messagebox {
  width: 300px;
  padding: 20px;
  background-color: var(--yellow-1);
  color: var(--white);
  border-radius: var(--border-radius);
}

.messagebox ul {
  list-style: none;
  margin-top: 24px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closemessage {
  transform: translateY(100%);
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

a {
  text-decoration: none;
}

.biome-pic {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.biome-pic p {
  font-size: 2rem;
  line-height: 1.5rem;
}

.biome-pic img {
  max-width: 80px;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

table a {
  font-weight: 600;
  color: var(--black);
  text-decoration: underline;
  text-align: center;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgb(255, 255, 255);
}

th {
  background: var(--gray-hover);
  color: white;
  font-weight: bold;
  padding: 12px 16px !important;
}

td,
th {
  padding: 6px;
  border: var(--border);
  border-color: var(--gray-1);
  text-align: left;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    min-width: 320px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td.world:nth-of-type(1):before {
    content: "Name";
    font-weight: bold;
  }

  td.world:nth-of-type(2):before {
    content: "Owner";
    font-weight: bold;
  }

  td.world:nth-of-type(3):before {
    content: "Clan";
    font-weight: bold;
  }

  td.world:nth-of-type(4):before {
    content: "X";
    font-weight: bold;
  }

  td.world:nth-of-type(5):before {
    content: "Y";
    font-weight: bold;
  }

  td.world:nth-of-type(6):before {
    content: "Realm";
    font-weight: bold;
  }

  td.world:nth-of-type(7):before {
    content: "Last Updated";
    font-weight: bold;
  }

  td.ally:nth-of-type(1):before {
    content: "Ally Name";
    font-weight: bold;
  }

  td.ally:nth-of-type(2):before {
    content: "Clan";
    font-weight: bold;
  }

  td.ally:nth-of-type(3):before {
    content: "Cost";
    font-weight: bold;
  }

  td.ally:nth-of-type(4):before {
    content: "G/L";
    font-weight: bold;
  }

  td.ally:nth-of-type(5):before {
    content: "B/L";
    font-weight: bold;
  }

  td.ally:nth-of-type(6):before {
    content: "S/L";
    font-weight: bold;
  }

  td.ally:nth-of-type(7):before {
    content: "Total";
    font-weight: bold;
  }

  td.ally:nth-of-type(8):before {
    content: "Owned By";
    font-weight: bold;
  }
  td.chat:nth-of-type(1):before {
    content: "Username";
    font-weight: bold;
  }
  td.chat:nth-of-type(2):before {
    content: "Message";
    font-weight: bold;
  }

  td.chat:nth-of-type(3):before {
    content: "Realm";
    font-weight: bold;
  }

  td.clans:nth-of-type(1):before {
    content: "Name";
    font-weight: bold;
  }
  td.clans:nth-of-type(2):before {
    content: "Tag";
    font-weight: bold;
  }
  td.clans:nth-of-type(3):before {
    content: "Description";
    font-weight: bold;
  }
  td.clans:nth-of-type(4):before {
    content: "Language";
    font-weight: bold;
  }
  td.clans:nth-of-type(5):before {
    content: "Members";
    font-weight: bold;
  }
  td.clans:nth-of-type(6):before {
    content: "Realm";
    font-weight: bold;
  }
  td.clans:nth-of-type(7):before {
    content: "Open?";
    font-weight: bold;
  }
}

/* Content section */
.content-main {
  padding: 48px 0;
}

/* Footer */
footer {
  background-color: var(--black);
}

footer nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

footer .nav-heckguide-logo {
  margin-bottom: 72px;
}

.flex-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

footer nav ul li {
  text-align: left;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

footer .container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-menu-wrapper {
  padding: 88px 0;
}

.menu-heckguide-logo {
  display: block;
  width: 100%;
  max-width: 111px;
}

footer .menu-heckguide-logo {
  margin-bottom: 72px;
}

footer p {
  display: table;
  font-size: 0.75rem !important;
  color: var(--black-1);
  margin-top: 40px;
  padding: 42px 0;
  border-top: var(--border);
  border-color: var(--gray2);
}

footer .footer-ul-label {
  color: var(--yellow-1);
  margin-bottom: 24px;
}

footer .center-flx li:nth-child(1) {
  margin-right: 1rem;
}

footer li {
  margin-top: 12px;
}

.footer-socials li {
  transition: var(--transition1);
}

.footer-socials li:hover {
  opacity: 0.5;
}

/* Media queries */
@media only screen and (min-width: 1280px) {

  .mobile-nav,
  .mob-panel {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {

  /* Mobile navigation */
  header nav ul:nth-child(2),
  footer nav ul:nth-child(2) {
    display: none;
  }

  header nav {
    height: 84px;
    padding: 0 28px;
  }

  header nav span {
    justify-content: space-between;
    width: 100%;
  }

  header {
    max-width: 95%;
    margin-top: 2%;
  }

  .mob-menu-ico {
    cursor: pointer;
  }

  /* Mobile nagivation panel */
  .mob-panel {
    width: 333px;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background-color: var(--black);
    transform: translateX(-333px);
    transition: var(--transition1);
    top: 0;
  }

  .panel-content {
    padding: 32px;
    height: 100%;
    overflow: auto;
  }

  .panel-content,
  .top-c,
  .mob-nav {
    display: flex;
    flex-direction: column;
  }

  .close-ico {
    align-self: flex-end;
    cursor: pointer;
  }

  .mob-nav ul {
    list-style: none;
  }

  .mob-nav a {
    color: var(--white);
  }

  .mob-nav ul:nth-child(1) li {
    margin-bottom: 20px;
  }

  .mob-nav li {
    display: flex;
    align-items: center;
    /* Font */
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.05px;
  }

  .mob-nav li img {
    margin-right: 24px;
  }

  .top-c {
    margin-bottom: 64px;
  }

  .top-c {
    margin-left: calc(20px + 24px);
  }

  .mob-sub,
  .realm-mob-sub {
    height: 0;
    overflow: hidden;
  }

  .mob-sub a,
  .realm-mob-sub a {
    color: var(--white);
    opacity: 0.65;
  }

  .mob-sub-show {
    height: 100%;
  }

  .mob-show {
    transform: translateX(0px);
  }

  .mob-user {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 18px;
  }

  .mob-account-links {
    display: flex;
    align-items: center;
  }

  .mob-view-link {
    color: var(--white);
    opacity: 0.5;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 12px;
  }

  .mob-footer {
    margin-top: auto;
  }

  .mob-footer-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .btn {
    max-width: 100%;
    min-height: 36px;
  }

  .mob-buttons .s-solid:nth-child(1) {
    margin-top: 8px;
  }

  footer nav {
    display: none;
  }

  .formInputs-wrapper {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    margin: 8px 0;
    max-width: 100%;
  }
}

/* Main content */
.mainContent {
  padding: 96px 0;
}

/* Form inputs - Wrapper */
.formInputs-wrapper span {
  margin-right: 8px;
}

.formInputs-wrapper label {
  display: block;
  margin-left: 4px;
  margin-bottom: 12px;
}

.formInputs-wrapper input:nth-child(1) {
  margin-left: 0;
}

.hide {
  color: transparent;
}

label,
.form-wrapper a.secondaryAction {
  color: var(--black);
}


/* Inputs and selects grid */
.iasg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iasg span {
  margin-bottom: 28px;
}

.iasg label {
  margin-bottom: 12px;
}

/* Mastery Calculator page */
.masteryCalculatorPg form {
  margin-top: 48px;
}

/* Modals */
.modalBg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: var(--transition0);
}

.modalActive {
  display: block;
}

.helpModalSettings {
  list-style: none;
  max-width: 420px;
  padding: 40px 30px;
  background-color: var(--gray-blue);
  border-radius: var(--border-radius);
  line-height: 1.5rem;
}

.helpModalSettings li {
  display: block;
  margin: 24px 0;
  color: var(--white);
  text-align: center;
}

.helpModalSettings .tag-primary {
  display: table;
  background-color: transparent;
  border: var(--border);
  border-color: var(--gray-hover);
  font-size: 1.25rem;
  color: var(--white);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.helpModal {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 300%);
  transition: var(--transition1);
}

.helpModal-open {
  transform: translate(-50%, -50%);
}

.helpModaCloseBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--white);
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

/* Tags */
.tag-primary {
  display: inline-block;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  /* Font */
  font-size: 1rem;
  font-weight: 500;
}

/* Help */
.help-wrapper {
  margin: 32px 0;
}

.helpIco {
  cursor: pointer;
  opacity: 1;
  transition: var(--transition0);
}

.helpIco:hover {
  opacity: 0.75;
}

/* Hr */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--gray-hover);
  height: 1px;
}

/* Form Results */
.formResults__TotalContainerText {
  display: block;
  text-align: center;
  color: var(--gray-blue);
  margin-top: 32px;
  margin-bottom: 48px;
}

.formResults__Container {
  flex-direction: column;
  min-width: 302px;
  margin: 24px 0;
  box-shadow: 0px 12px 12px rgba(218, 226, 233, 0.53)
}

.formResults__Container p {
  font-weight: 500;
}

.formResults__TitleCard {
  width: 100%;
  background-color: var(--black);
  padding: 20px 28px;
}

.formResults__Title {
  font-weight: 500;
  color: var(--white);
}

.formResults__Wrapper {
  width: 100%;
  background-color: var(--white);
  padding: 24px 28px;
  text-align: right;
}

.formResults__Container .labl-sml {
  font-size: 0.875rem;
  color: var(--gray3);
}

.formResults__Text {
  margin-bottom: 4px;
}

.formResults__Text span {
  color: rgba(0, 0, 0, 0.22);
}

/* Total form results */
.formResults__Total {
  max-width: 400px !important;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.formResults__Total .formResults__TitleCard {
  text-align: center;
  background-color: var(--yellow-1);
}

.formResults__Total .formResults__Text {
  font-size: 1.125rem;
  font-weight: 600;
}

/* Icons */
.tokenIco {
  width: 1rem;
}

/* Troop Might page */
.troopMight .formInputs-wrapper {
  margin-bottom: 32px;
}

.troopMight .formResults__TotalContainerText {
  text-align: left;
}

/* Rally Calculator Page (Raid Boss Calculator) */
.rallyCalculator .formInputs-wrapper {
  margin-bottom: 32px;
}

.rallyCalculator .formResults__TotalContainerText {
  text-align: left;
}

.rallyCalculator .formResults__Container:nth-child(1) {
  margin-right: 24px;
}

/* Prices page */
.pricesTable ul {
  list-style: none;
  margin-bottom: 1.125rem;
}

.pricesTable li {
  display: block;
  padding: 1rem 0;
  width: 100%;
  max-width: 55px;
  background-color: var(--black);
  border-radius: var(--border-radius);
  margin-right: 0.5rem;
}

.pricesTable a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Font */
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.pricesTable__Wrapper {
  flex-direction: column;
  margin-bottom: var(--px8);
}

.pricesTable__Content {
  max-width: 340px;
  padding: calc(var(--px8) * 1.4) calc(var(--px8) * 2);
  background-color: var(--gray4);
  border-radius: var(--border-radius);
}

.pricesIcon {
  margin-right: var(--px8);
}

.pricesTable__Price {
  font-size: var(--fs-18);
  font-weight: 500;
}

.pricesCopyBtn {
  padding: calc(var(--px8) * 1) calc(var(--px8) * 2);
  background-color: var(--gray5);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.pricesCopyBtn p {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--gray6);
}

/* Ally Stat page */
.allyStat .formInputs-wrapper {
  margin-bottom: 32px;
}

.allyStat .formResults__TotalContainerText {
  text-align: left;
}

.allyStat .formResults__Container {
  width: 100%;
  max-width: 400px;
}

.allyStat .formResults__Title p span {
  color: var(--white);
}

.allyStat .formResults__Title:nth-child(1) {
  margin-bottom: 1rem;
}

.allyStat .formResults__Container:nth-child(1) {
  margin-right: 24px;
}

/* Table inputs and selects */
.margin-r-Inputs input,
.margin-r-Inputs select,
.margin-r-Inputs input[type=text],
.margin-r-Inputs input[type=number] {
  margin-right: 8px;
}