/*					
	Author		HeckGuide.com // Kevin Cornish & Sergio Estrada
*/

/* Fonts */
@font-face {
  font-family: "Troika";
  src: url("/static/fonts/Troika.woff") format("woff"),
    url("/static/fonts/Troika.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --black-1: #424242;
  --black-hover: #5F5F5F;
  --black-active: #ABABAB;
  --gray-blue: #84949D;
  --gray-hover: #D1DBE1;
  --yellow-1: #FFC327;
  --yellow-hover: #E5AA12;
  --yellow-active: #FFD872;
  --gray-1: #F0F4F8;
  --gray2: #222222;
  --hotpink-1: #EF5DE0;
  --hotpink-hover: #CD60C2;
  --hotpink-active: #CD60C2;
  --red-1: #ED3636;
  --green-1: #7DA619;
  /* Fonts */
  --karla-font: 'Karla', sans-serif;
  --troika-font: 'Troika', sans-serif;
  /* Border */
  --border-radius: 6px;
  --border: 2px solid transparent;
  /* Transitions */
  --transition1: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  --transition2: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  --transition3: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--black-1);
  font-family: var(--karla-font);
  font-size: 1rem;
  font-weight: normal;
  color: var(--white);
  position: relative;
}

.clear {
  clear: both;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 32px;
}

/*Heading, Subheadings and paragraph */
h1,
h2 {
  font-family: var(--troika-font);
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2.25rem;
}

/* Inputs, buttons, labels and selects */
input {
  font-family: var(--karla-font);
  outline: none;
}

input,
select,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 18px;
  border-radius: var(--border-radius);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  max-width: 250px;
  background-color: var(--white);
  border: var(--border);
  border-color: var(--gray-hover);
  transition: var(--transition1);
  /* Font - Text */
  font-family: var(--karla-font);
  color: var(--black-1);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.16px;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
  border-color: var(--gray-blue);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: var(--black)
}

input[type=submit],
button[type=submit] {
  display: block;
  width: 100%;
  max-width: 222px;
  cursor: pointer;
  background-color: var(--black);
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: var(--black-active);
}

input[type=submit],
button[type=submit],
.btn {
  font-family: var(--karla-font);
  max-width: 230px;
  /* Font - Text */
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025px;
  text-transform: uppercase;
}

select,
input[type=number] {
  width: 100%;
  max-width: 222px;
  background-color: var(--yellow-1);
  /* Font - Text */
  font-family: var(--karla-font);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.16px;
}

input[type=password] {
  letter-spacing: 0.05rem;
}

label,
/* Form wrapper link*/
.form-wrapper a.secondaryAction {
  font-family: var(--karla-font);
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

/* Buttons */
.s-solid {
  background-color: var(--yellow-1);
  box-shadow: 0px 4px 16px rgba(245, 190, 48, 0.35);
}

.s-outline {
  border: var(--border);
  border-color: var(--yellow-1);
}

.round {
  border-radius: 100px;
}

.sub-icon {
  margin-left: 8px;
}

/* Links */
.outer-links {
  color: var(--hotpink-1);
  text-decoration: underline;
}

/* Images */
.townhall {
  display: block;
  width: 100%;
  max-width: 258px;
}

/* Components */
/* Backgrounds */
.background-grd1 {
  background: rgb(125, 166, 25);
  background: -moz-radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  background: radial-gradient(circle, rgba(125, 166, 25, 1) 0%, rgba(118, 164, 22, 1) 35%, rgba(75, 150, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7da619", endColorstr="#4b9600", GradientType=1);
}

.background-grd2 {
  background-color: var(--gray-1);
}

/* Patterns */
.ptt1 {
  background: url("/static/img/svg/hero-pattern.svg");
  background-repeat: repeat;
  height: 100%;
  z-index: 9999;
  position: relative;
}

/* Universal flex attributes */
.center {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}

.center-flx {
  display: flex;
  align-items: center;
}

.s-b-flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Sign In/Sign Up */
.form-wrapper {
  max-width: 420px;
  margin: 0 auto;
  background-color: var(--white);
  border: --border;
  border-radius: var(--border-radius);
  padding: 52px;
  border-radius: var(--border-radius);
}

.form-wrapper h1,
.form-wrapper h2 {
  color: var(--black);
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 24px;
}

.form-wrapper ul {
  list-style: none;
}

ul.socialaccount_providers li:nth-child(1) {
  background-color: var(--gray-hover);
  margin-bottom: 4px;
}

ul.socialaccount_providers li:nth-child(2) {
  background-color: var(--gray-blue);
}

ul.socialaccount_providers {
  list-style: none;
}

ul.socialaccount_providers a {
  width: 100%;
  font-weight: 700;
}

ul.socialaccount_providers li:nth-child(1) a {
  color: var(--gray-blue);
  font-weight: 800;
}

ul.socialaccount_providers li:nth-child(2) a {
  color: var(--white);
}

.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper input[type=password],
.form-wrapper input[type=submit],
.form-wrapper button[type=submit],
.form-wrapper .btn {
  max-width: 100%;
}

.form-wrapper label,
.form-wrapper form a {
  color: var(--gray-blue);
}

.form-wrapper label {
  margin: 8px 0;
  color: var(--gray-blue) !important;
}

.form-wrapper input[type="checkbox"] {
  margin-right: 8px;
}

.form-wrapper button[type="submit"] {
  margin-top: 12px;
}

.login-or {
  font-weight: 700;
  color: var(--gray-blue);
  text-align: center;
  margin: 24px 0;
  padding-bottom: 24px;
  border-bottom: var(--border);
  border-color: var(--gray-hover);
}

section,
section a {
  color: var(--black);
}

/* Hero section */
.hero {
  position: relative;
  /* Temporary */
  height: 600px;
}

.hero .ptt1 {
  padding: 48px 32px;
}

/* Wrappers */
.wrapper-c {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 64px;
}

/* Header */
header {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  border-radius: var(--border-radius);
}

/* Navigation */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 56px;
}

header nav ul,
footer nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul a,
footer nav ul a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
}

header nav ul li a::after,
footer nav ul li a::after {
  display: block;
  content: '';
  height: 2px;
  width: 24px;
  background-color: var(--gray2);
  transition: var(--transition2);
  margin-top: 8px;
  border-radius: 9999px;
}

header nav ul li a:hover::after,
footer nav ul li a:hover::after {
  width: 100%;
  background-color: var(--yellow-1);
}

header nav ul:nth-child(1) li {
  margin-right: 38px;
}

header nav span ul li {
  margin-left: 38px;
}

header nav {
  position: relative;
}

header nav span {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-nav-sub,
.main-account-sub {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--black);
  padding-top: 36px;
  padding-right: 42px;
  border-radius: var(--border-radius);
  position: absolute;
}

.main-nav-sub {
  padding-bottom: 16px;
}

.main-account-sub {
  padding-bottom: 32px;
}

.ms-show {
  display: block;
}

.main-account-sub li:nth-child(1) {
  margin: 24px 0;
}

.main-account-sub {
  padding-left: 32px;
  right: 0;
}

.main-account-sub .btn:nth-child(1) {
  width: 333px;
  margin-top: 24px;
}

.nav-user-btns {
  display: flex;
}

.nav-user-btns li {
  width: 180px;
}

.main-nav-sub li {
  margin-bottom: 20px;
}

.main-nav-sub a {
  color: var(--white) !important;
}

.user-menu li:nth-child(1) {
  margin-right: 12px;
  /* Font - Text */
  letter-spacing: -0.32px;
}

.user-menu a:nth-child(2) li {
  color: var(--white) !important;
}

.user-menu a img {
  margin-right: 32px;
}

.user-menu .btn {
  padding: 0 32px;
  text-align: center;
}

/* Layout & Framework */
.message-wrapper {
  width: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: 32px;
  transition: var(--transition3);
}

.message-wrapper img {
  display: block;
  margin: 0 auto;
}

.messagebox {
  width: 300px;
  padding: 20px;
  background-color: var(--yellow-1);
  color: white;
  border-radius: var(--border-radius);
}

.messagebox ul {
  list-style: none;
  margin-top: 24px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closemessage {
  transform: translateY(100%);
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

a {
  text-decoration: none;
  color: var(--white);
}

p {
  font-size: 0.9em;
}

.biome-pic {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.biome-pic p {
  font-size: 2rem;
  line-height: 1.5rem;
}

.biome-pic img {
  max-width: 80px;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #333;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    min-width: 320px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td.world:nth-of-type(1):before {
    content: "Name";
    font-weight: bold;
  }

  td.world:nth-of-type(2):before {
    content: "Owner";
    font-weight: bold;
  }

  td.world:nth-of-type(3):before {
    content: "Clan";
    font-weight: bold;
  }

  td.world:nth-of-type(4):before {
    content: "X";
    font-weight: bold;
  }

  td.world:nth-of-type(5):before {
    content: "Y";
    font-weight: bold;
  }

  td.world:nth-of-type(6):before {
    content: "Realm";
    font-weight: bold;
  }

  td.world:nth-of-type(7):before {
    content: "Last Updated";
    font-weight: bold;
  }

  td.ally:nth-of-type(1):before {
    content: "Ally Name";
    font-weight: bold;
  }

  td.ally:nth-of-type(2):before {
    content: "Clan";
    font-weight: bold;
  }

  td.ally:nth-of-type(3):before {
    content: "Cost";
    font-weight: bold;
  }

  td.ally:nth-of-type(4):before {
    content: "G/L";
    font-weight: bold;
  }

  td.ally:nth-of-type(5):before {
    content: "B/L";
    font-weight: bold;
  }

  td.ally:nth-of-type(6):before {
    content: "S/W";
    font-weight: bold;
  }

  td.ally:nth-of-type(7):before {
    content: "Total";
    font-weight: bold;
  }

  td.ally:nth-of-type(8):before {
    content: "Owned By";
    font-weight: bold;
  }
}

/* Content section */
.content-main {
  padding: 48px 0;
}

/* Footer */
footer {
  background-color: var(--black);
}

footer nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 776px;
  width: 100%;
}

footer .nav-heckguide-logo {
  margin-bottom: 72px;
}

.flex-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

footer nav ul li {
  text-align: left;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
}

footer .container span {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-menu-wrapper {
  padding: 88px 0;
}

.menu-heckguide-logo {
  display: block;
  width: 100%;
  max-width: 111px;
}

footer .menu-heckguide-logo {
  margin-bottom: 72px;
}

footer p {
  display: table;
  font-size: 0.875rem;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 42px 0;
  border-top: var(--border);
  border-color: var(--gray2);
}

footer .footer-ul-label {
  color: var(--yellow-1);
  margin-bottom: 24px;
}

footer .center-flx li:nth-child(1) {
  margin-right: 1rem;
}

footer li {
  margin-top: 12px;
}

.footer-socials li {
  transition: var(--transition1);
}

.footer-socials li:hover {
  opacity: 0.5;
}

/* Media queries */
@media only screen and (min-width: 1280px) {

  .mobile-nav,
  .mob-panel {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {

  /* Mobile navigation */
  header nav ul:nth-child(2),
  footer nav ul:nth-child(2) {
    display: none;
  }

  header nav {
    height: 84px;
    padding: 0 28px;
  }

  header nav span {
    justify-content: space-between;
  }

  header {
    max-width: 95%;
    margin-top: 2%;
  }

  .mob-menu-ico {
    cursor: pointer;
  }

  /* Mobile nagivation panel */
  .mob-panel {
    width: 333px;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background-color: var(--black);
    transform: translateX(-333px);
    transition: var(--transition1);
    top: 0;
  }

  .panel-content {
    padding: 32px;
    height: 100%;
    overflow: auto;
  }

  .panel-content,
  .top-c,
  .mob-nav {
    display: flex;
    flex-direction: column;
  }

  .close-ico {
    align-self: flex-end;
    cursor: pointer;
  }

  .mob-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mob-nav ul:nth-child(1) li {
    margin-bottom: 20px;
  }

  .mob-nav li {
    display: flex;
    align-items: center;
    /* Font */
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.05px;
  }

  .mob-nav li img {
    margin-right: 24px;
  }

  .top-c {
    margin-bottom: 64px;
  }

  .top-c,
  .mob-sub {
    margin-left: calc(20px + 24px);
  }

  .mob-sub {
    height: 0;
    overflow: hidden;
  }

  .mob-sub a {
    color: var(--white);
  }

  .mob-sub li {
    margin-bottom: 8px !important;
  }

  .mob-sub-show {
    height: 100%;
  }

  .mob-show {
    transform: translateX(0px);
  }

  .mob-user {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 18px;
  }

  .mob-account-links {
    display: flex;
    align-items: center;
  }

  .mob-view-link {
    color: var(--white);
    opacity: 0.5;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 12px;
  }

  .mob-footer {
    margin-top: auto;
  }

  .btn {
    max-width: 100%;
    min-height: 36px;
  }

  .mob-buttons .s-solid:nth-child(1) {
    margin-top: 8px;
  }

  footer nav {
    display: none;
  }
}