{% extends "base.html" %}
{% block head_title %}Allies{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<form action="{% url 'allies' %}">
  <span>
    <input type="text" placeholder="Owner" aria-label="current_owner" name='current_owner'>
    <input inputmode="numeric" type="number" placeholder="Cost" aria-label="cost" name='cost'>
    <input type="text" placeholder="Clan" aria-label="clan" name='clan'>
    <input type="submit" value="Search"></span>
</form>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ally Name</th>
      <th scope="col">Clan</th>
      <th scope="col">Cost</th>
      <th scope="col">G/L</th>
      <th scope="col">B/L</th>
      <th scope="col">S/L</th>
      <th scope="col">Total</th>
      <th scope="col">Owned By</th>
    </tr>
  </thead>
  <tbody>
    {% for ally in allies %}
    <tr>
      <td class="ally"><a href="{% url 'allies' %}?current_owner={{ally.username}}">{{ally.username}}</a>
        {% if ally.owned_allies__count %} ({{ ally.owned_allies__count }}){% endif %}</td>
      <td class="ally"><a href="{% url 'allies' %}?clan={{ally.group_tag}}">{{ally.group_tag}}</a></td>
      <td class="ally"><a href="{% url 'allies' %}?cost={{ally.cost}}">{{ally.cost}}</a></td>
      <td class="ally">{{ally.biome3_attack_multiplier|div:100}}%</td>
      <td class="ally">{{ally.biome4_attack_multiplier|div:100}}%</td>
      <td class="ally">{{ally.biome5_attack_multiplier|div:100}}%</td>
      <td class="ally">
        {{ally.biome3_attack_multiplier|add:ally.biome4_attack_multiplier|add:ally.biome5_attack_multiplier|div:100}}%
      </td>
      <td class="ally"><a
          href="{% url 'allies' %}?current_owner={{ally.owner.username}}">{{ally.owner.username}}</a></td>
    </tr>
    {% empty %}
    <tr>
      <td>No match</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul>
  {% if page_obj.has_previous %}
  <li><a
      href="?page=1{% if request.GET.cost %}&cost={{ request.GET.cost }}{% endif %}{% if request.GET.clan %}&clan={{ request.GET.clan }}{% endif %}{% if request.GET.current_owner %}&current_owner={{ request.GET.current_owner }}{% endif %}">&laquo;
      First</a></li>
  <li><a
      href="?page={{ page_obj.previous_page_number }}{% if request.GET.cost %}&cost={{ request.GET.cost }}{% endif %}{% if request.GET.clan %}&clan={{ request.GET.clan }}{% endif %}{% if request.GET.current_owner %}&current_owner={{ request.GET.current_owner }}{% endif %}">Prev</a>
  </li>
  {% endif %}
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_next %}
  <li><a
      href="?page={{ page_obj.next_page_number }}{% if request.GET.cost %}&cost={{ request.GET.cost }}{% endif %}{% if request.GET.clan %}&clan={{ request.GET.clan }}{% endif %}{% if request.GET.current_owner %}&current_owner={{ request.GET.current_owner }}{% endif %}">Next</a>
  </li>
  <li><a
      href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.cost %}&cost={{ request.GET.cost }}{% endif %}{% if request.GET.clan %}&clan={{ request.GET.clan }}{% endif %}{% if request.GET.current_owner %}&current_owner={{ request.GET.current_owner }}{% endif %}">Last
      &raquo;</a></li>
  {% endif %}
</ul>
</nav>
</div>
{% endif %}
{% endblock %}