{% extends "base.html" %}
{% block head_title %}Clans{% endblock %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>
      <th scope="col">Description</th>
      <th scope="col">Language</th>
      <th scope="col">Members</th>
      <th scope="col">Realm</th>
      <th scope="col">Open?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="clans">{{clan.name}}</td>
      <td class="clans">{{clan.tag}}</td>
      <td class="clans">{{clan.description | linebreaks}}</td>
      <td class="clans">{{clan.language}}</td>
      <td class="clans">{{clan.member_count}}</td>
      <td class="clans">{{clan.region}}</td>
      {% if clan.auto_accept_join == True %}
      <td class="clans"><p>Open</p></td>
     {% else %}
     <td class="clans"><p>Closed</p></td>
     {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}