{% load static %}
<header>
  <nav>
    <span>
      <a href="{% url 'homepage' %}">
        <img class="nav-heckguide-logo" src="{% static 'img/svg/heckguide-logo.svg' %}">
      </a>
      <ul>
        <li>
          <a href="{% url 'timer' %}">Timer</a>
        </li>
        <li>
          <a href="{% url 'prices' %}">Ally Prices</a>
        </li>
        <div>
          <li>
            <a id="main-sub-link" class="sub-link" href="#">Heck Calculators <img class="sub-icon"
                src="{% static 'img/svg/arrow-down-icon.svg' %}"></a>
          </li>
          <!-- Sub menu -->
          <ul class="main-nav-sub">
            <li>
              <a href="{% url 'MasteryCalculator' %}">Mastery Calculator</a>
            </li>
            <li>
              <a href="{% url 'TokenCalculator' %}">Token Calculator</a>
            </li>
            <li>
              <a href="{% url 'BrewCalculator' %}">Brew Calculator</a>
            </li>
            <li>
              <a href="{% url 'TroopMight' %}">Troop/Might Calculator</a>
            </li>
            <li>
              <a href="{% url 'RallyCalculator' %}">Raid Rally Calculator</a>
            </li>
          </ul>
          <!-- End sub menu -->
        </div>
        <div>
          <li>
            <a id="realm-sub-link" class="sub-link" href="#">Realm Maps <img class="sub-icon"
                src="{% static 'img/svg/arrow-down-icon.svg' %}"></a>
          </li>
          <!-- Sub menu -->
          <ul class="realm-nav-sub">
            <li>
              <a href="{% url 'world' %}?realm=23">Realm 23</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=128">Realm 128</a>
            </li>
          </ul>
          <!-- End sub menu -->
        </div>
        <li>
          <a href="{% url 'allies' %}">Allies</a>
        </li>
        <li>
          <a href="{% url 'DevBlog' %}">Blog</a>
        </li>
      </ul>
      <!-- Mobile navigation -->
      <ul class="mobile-nav">
        <li id="mob-ico" class="mob-menu-ico"><img src="{% static 'img/svg/burger-menu-icon.svg' %}"></li>
      </ul>
    </span>
    <ul class="user-menu">
      {% if user.is_authenticated %}
      <a href="#">
        <li class="btn round s-solid">Community</li>
      </a>
      {% endif %}
      <div>
        <div class="user-account-sub">
          {% if user.is_authenticated %}
          <a id="account-btn" href="#">
            <li class="btn round s-outline">
              <img src="{% static 'img/svg/burger-menu-icon.svg' %}"> {{ user.username }}
            </li>
          </a>
          <!-- Sub menu -->
          <ul class="main-account-sub">
            <li><a class="replace-0" href="{% url 'account' %}">View Account</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            <a href="{% url 'account_logout' %}">
              <div class="btn s-solid">
                <img src="{% static 'img/svg/sign-out-icon.svg' %}"> Sign Out
              </div>
            </a>
            {% else %}
            <div class="nav-user-btns">
              <a href="{% url 'account_login' %}">
                <div class="btn s-outline">
                  <img src="{% static 'img/svg/lock-icon.svg' %}"> Log In
                </div>
              </a>
              <a href="{% url 'account_signup' %}">
                <div class="btn s-solid">
                  <img src="{% static 'img/svg/sign-up-icon.svg' %}"> Sign Up
                </div>
              </a>
            </div>
            {% endif %}
          </ul>
        </div>
    </ul>
  </nav>
</header>