{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="form-wrapper">
  <h2>{% trans "Sign In" %}</h2>

  {% get_providers as socialaccount_providers %}

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  {% if socialaccount_providers %}

  <div class="login-or">{% trans 'or use your email account' %}</div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p class="login-or">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  {% if form.errors %}
  <p class="login-or">
    Your username and password didn't match.
    Please try again.
  </p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.login.label_tag }}
    <input type="text" placeholder="Username" aria-label="{{ form.login.name }}" name='{{ form.login.name }}'>
    {{ form.password.label_tag }}
    <input type="password" placeholder="Password" aria-label="{{ form.password.name }}" name='{{ form.password.name }}'>
    <button class="btn primaryAction" type="submit">{% trans "Sign In" %}</button>
    <div class="s-b-flx">
      <span class="s-b-flx">
        <input type="checkbox" id="{{ form.remember.name }}" name="{{ form.remember.name }}">
        {{ form.remember.label_tag }}
      </span>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </form>
</div>
{% endblock %}