SECRET_KEY=unsecure-key123
DJANGO_DEBUG=True
DATABASE_URL="postgres://username:password@host:port/databasename"
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1
TOKEN="token"
STAY_TOKEN="staytoken"
TOKEN_129="token"
TOKEN_128="token"
TOKEN_121="token"
TOKEN_106="token"
TOKEN_99="token"
TOKEN_10="token"
discord_bot_prefix="!"
discord_token="token"
discord_api_token="token"
discord_base_url="url"
discord_application_id="id"
discord_owners=123,456