{% extends "base.html" %}
{% load static %}
{% block head_title %}Ally Stat Calculator{% endblock %}
{% block content %}

<section class="allyStat">
  <div class="container">
    <!--
    <div>
      <div>
        <p>preferred biome</p>
        <p>{{ target }}</p>
      </div>
      <div>
        <span>
          <p>grasslands</p>
          <p>{{grasslands|default:"0" }}%</p>
        </span>
        <span>
          <p>badlands</p>
          <p>{{badlands|default:"0"}}%</p>
        </span>
        <span>
          <p>swamp</p>
          <p>{{swamplands|default:"0"}}%</p>
        </span>
      </div>
      <div>
        <p>total:</p>
        <p>{{total|default:"0"}}%</p>
      </div>
    </div>

    <div>
      <div">
        <p>even biomes</p>
        <p>{{target2}}</p>
      </div>
      <div>
        <span>
          <p>grasslands</p>
          <p>{{grasslands2|default:"0"}}%</p>
        </span>
        <span>
          <p>badlands</p>
          <p>{{badlands2|default:"0"}}%</p>
        </span>
        <span>
          <p>swamp</p>
          <p>{{swamplands2|default:"0"}}%</p>
        </span>
      </div>
      <div>
        <p>total:</p>
        <p>{{total2|default:"0"}}%</p>
      </div>
    </div>
    -->
    <!-- Help modal -->
    <ul class="helpModal helpModalSettings">
      <img id="closeModalBg" class="helpModaCloseBtn" src="{% static 'img/svg/close-icon.svg' %}">
      <p class="tag-primary">How-To</p>
      <li>Temp</li>
    </ul>
    <div class="help-wrapper s-b-flx">
      <img id="modalHelp" class="helpIco" src="{% static 'img/svg/help-ico.svg' %}">
      <p class="hide">0</p>
    </div>
    <p class="formResults__TotalContainerText center-m-a">Calculate the amount of total tokens you own by entering your
      current
      balances below </p>
    <!-- End Help modal -->
    <form action="" method="post" class="formInputs-wrapper center-flx">
      {% csrf_token %}
      <span>
        {{ form.biome.label_tag }}
        <select name="{{ form.biome.name }}" id="{{ form.biome.id_for_label }}">
          <option value="1">Grasslands</option>
          <option value="2">Badlands</option>
          <option value="3">Swamplands</option>
        </select>
      </span>
      <span>
        {{ form.price.label_tag }}
        <input type="number" required name="{{ form.price.name }}" id="{{ form.price.id_for_label }}" autocomplete="off"
          value="0">
      </span>
      <span>
        <label class="hide">0</label>
        <input type="submit" value="Submit">
      </span>
    </form>
    <hr>
    <!-- Start form results -->
    <div class="formResults flx center-flx wrap-flx">
      <div class="formResults__Container flx">
        <div class="formResults__TitleCard">
          <div class="formResults__Title flx s-b-flx">
            <span>Preffered Biome</span>
            <span>{{ target }}</span>
          </div>
          <div class="formResults__Title flx s-b-flx">
            <span>Total</span>
            {% if total is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <span>{{ total }}</span>
            {% endif %}
          </div>
        </div>
        <div class="formResults__Wrapper flx center-flx s-b-flx">
          <div class="formResults__Content ">
            {% if grasslands is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ grasslands }}</p>
            {% endif %}
            <p class="labl-sml">Grasslands</p>
          </div>
          <div class="formResults__Content ">
            {% if badlands is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ badlands }}</p>
            {% endif %}
            <p class="labl-sml">Badlands</p>
          </div>
          <div class="formResults__Content ">
            {% if swamplands is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ swamplands }}</p>
            {% endif %}
            <p class="labl-sml">Swamplands</p>
          </div>
        </div>
      </div>
      <div class="formResults__Container flx">
        <div class="formResults__TitleCard">
          <div class="formResults__Title flx s-b-flx">
            <span>Preffered Biome</span>
            <span>{{ target2 }}</span>
          </div>
          <div class="formResults__Title flx s-b-flx">
            <span>Total</span>
            {% if total is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <span>{{ total }}</span>
            {% endif %}
          </div>
        </div>
        <div class="formResults__Wrapper flx center-flx s-b-flx">
          <div class="formResults__Content ">
            {% if grasslands2 is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ grasslands2 }}</p>
            {% endif %}
            <p class="labl-sml">Grasslands</p>
          </div>
          <div class="formResults__Content ">
            {% if badlands2 is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ badlands2 }}</p>
            {% endif %}
            <p class="labl-sml">Badlands</p>
          </div>
          <div class="formResults__Content ">
            {% if swamplands2 is default %}
            <p class="formResults__Text"><span>0</span></p>
            {% else %}
            <p class="formResults__Text">{{ swamplands2 }}</p>
            {% endif %}
            <p class="labl-sml">Swamplands</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}