{% extends "base.html" %}
{% load static %}
{% block head_title %}Brew Calculator{% endblock %}
{% block content %}

{% if form.is_valid %}
    <p> 10: {{ token1 }} </p>
    <p> 25: {{ token2 }} </p>
    <p> 50: {{ token3 }} </p>
    <p> 100: {{ token4 }} </p>
    <p> 250: {{ token5 }} </p>
    <p> Total: {{ total }} </p>
    <a href="{% url 'BrewCalculator' %}">More tokens?</a>
{% else %}

<form action="" method="post">
  {% csrf_token %}
  {{ form.token1.label_tag }}
  <input type="number" required name="{{ form.token1.name }}" id="{{ form.token1.id_for_label }}" autocomplete="off" value="0">
  {{ form.token2.label_tag }}
  <input type="number" required name="{{ form.token2.name }}" id="{{ form.token2.id_for_label }}" autocomplete="off" value="0">
  {{ form.token3.label_tag }}
  <input type="number" required name="{{ form.token3.name }}" id="{{ form.token3.id_for_label }}" autocomplete="off" value="0">
  {{ form.token4.label_tag }}
  <input type="number" required name="{{ form.token4.name }}" id="{{ form.token4.id_for_label }}" autocomplete="off" value="0">
  {{ form.token5.label_tag }}
  <input type="number" required name="{{ form.token5.name }}" id="{{ form.token5.id_for_label }}" autocomplete="off" value="0">
  <input type="submit" value="Submit">
</form>
{% endif %}
{%endblock%}
