{% extends "base.html" %}
{% load static %}
{% block head_title %}Brew Calculator{% endblock %}
{% block content %}

<section class="brewCalculator">
  <!-- Total results -->
  <div class="formResults__Total formResults__Container flx">
    <div class="formResults__TitleCard">
      <p class="formResults__Title">Total Brew</p>
    </div>
    <div class="formResults__Wrapper flx center-flx s-b-flx">
      <div class="formResults__Content center-m-a">
        {% if total is default %}
        <p class="formResults__Text"><span>0</span></p>
        {% else %}
        <p class="formResults__Text">{{ total }}</p>
        {% endif %}
        <p class="labl-sml">Brew in Tokens</p>
      </div>
    </div>
  </div>
  <p class="formResults__TotalContainerText">Calculate the amount of total brew you own by entering your current
    balances below </p>
  <hr>
  <!-- End total results -->
  <div class="formResults flx center-flx s-b-flx wrap-flx">
    {% if form.is_valid %}
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/brew-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">10</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token1 }}</p>
          <p class="labl-sml">Brew total</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/brew-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">25</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token2 }}</p>
          <p class="labl-sml">Brew total</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/brew-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">50</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token3 }}</p>
          <p class="labl-sml">Brew total</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/brew-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">100</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token4 }}</p>
          <p class="labl-sml">Brew total</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/brew-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">250</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token5 }}</p>
          <p class="labl-sml">Brew total</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- Help modal -->
  <ul class="helpModal helpModalSettings">
    <img id="closeModalBg" class="helpModaCloseBtn" src="{% static 'img/svg/close-icon.svg' %}">
    <p class="tag-primary">How-To</p>
    <li>Temp</li>
  </ul>
  <div class="help-wrapper s-b-flx">
    <img id="modalHelp" class="helpIco" src="{% static 'img/svg/help-ico.svg' %}">
    <p class="hide">0</p>
  </div>
  <!-- End Help modal -->
  <form action="" method="post">
    {% csrf_token %}
    <div class="iasg">
      <span>
        {{ form.token1.label_tag }}
        <input type="number" required name="{{ form.token1.name }}" id="{{ form.token1.id_for_label }}"
          autocomplete="off" value="0" placeholder="0">
      </span>
      <span>
        {{ form.token2.label_tag }}
        <input type="number" required name="{{ form.token2.name }}" id="{{ form.token2.id_for_label }}"
          autocomplete="off" value="0" placeholder="0">
      </span>
      <span>
        {{ form.token3.label_tag }}
        <input type="number" required name="{{ form.token3.name }}" id="{{ form.token3.id_for_label }}"
          autocomplete="off" value="0" placeholder="0">
      </span>
      <span>
        {{ form.token4.label_tag }}
        <input type="number" required name="{{ form.token4.name }}" id="{{ form.token4.id_for_label }}"
          autocomplete="off" value="0" placeholder="0">
      </span>
      <span>
        {{ form.token5.label_tag }}
        <input type="number" required name="{{ form.token5.name }}" id="{{ form.token5.id_for_label }}"
          autocomplete="off" value="0" placeholder="0">
      </span>
    </div>
    <div class="flx flx-jc-fe">
      <input type="submit" value="Calculate">
    </div>
  </form>
</section>
{%endblock%}