{% extends "base.html" %}
{% load static %}
{% block head_title %}Mastery Calculator{% endblock %}
{% block content %}

<section class="masteryCalculatorPg">
  {% if form.is_valid %}
  <p>Dragon XP Boost:</p>
  <p>Required Level: 19</p>
  <p>Gold Cost: {{ xpgold }}m</p>

  <p>Gather Rate Bonus:</p>
  <p>Required Level: 19</p>
  <p>Gold Cost: {{ gathergold }}m</p>

  <p>Hunt Attack Bonus:</p>
  <p>Required Level: 19</p>
  <p>Gold Cost: {{ attackgold }}m</p>

  <p>March Capacity:</p>
  <p>Required Level: 19</p>
  <p>Gold Cost: {{ marchgold }}m</p>

  <p>City Defenders Cap:</p>
  <p>Required Level: 19</p>
  <p>Ore Cost: {{ defore }}m</p>

  <p>Dragon Attack Boost:</p>
  <p>Required Level: 19</p>
  <p>Food Cost: {{ attackfood }}m</p>

  <p>Attacker/Defender Bonus:</p>
  <p>Required Level: 17</p>
  <p>Gold Cost: {{ defgold }}m</p>

  <p>Bonus Stats for Allies:</p>
  <p>Required Level: 17</p>
  <p>Gold Cost: {{ statsforalliesgold }}m</p>

  <p>Bonus from Allies:</p>
  <p>Required Level: 17</p>
  <p>Gold Cost: {{ bonusforalliesgold }}m</p>

  <p>Dragon March Speed Boost:</p>
  <p>Required Level: 17</p>
  <p>Gold Cost: {{ marchboostgold }}m</p>

  <p>Dragon Ability Boost:</p>
  <p>Required Level: 17</p>
  <p>Gold Cost: {{ abilityboostgold }}m</p>

  <p>March Capacity:</p>
  <p>Required Level: 15</p>
  <p>Gold Cost: {{ marchgold2 }}m</p>

  <p>Total RSS Required</p>
  <p>Gold Cost: {{ totalgold }}m</p>
  <p>Food Cost: {{ totalfood }}m</p>
  <p>Ore Cost: {{ totalore }}m</p>
  <a href="{% url 'MasteryCalculator' %}">Again?</a>
  {% else %}
  
  <ul class="helpModal helpModalSettings">
    <img id="closeModalBg" class="helpModaCloseBtn" src="{% static 'img/svg/close-icon.svg' %}">
    <p class="tag-primary">How-To</p>
    <li>Match your <b>in-game</b> stats for each research.</li>
    <li>Minimum: Level 6 / Max: Level 19</li>
    <li>For Attacker/Defender Bonus only one or the other research is <b>required</b>.</li>
  </ul>
  <div class="help-wrapper s-b-flx">
    <p class="hide">0</p>
    <img id="masteryHelp" class="helpIco" src="{% static 'img/svg/help-ico.svg' %}">
  </div>
  <hr>
  <form action="" method="post">
    {% csrf_token %}
    <div class="iasg">
      <span>
        {{ form.xpboost.label_tag }}
        <select name="{{ form.xpboost.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.gatherbonus.label_tag }}
        <select name="{{ form.gatherbonus.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.attackbonus.label_tag }}
        <select name="{{ form.attackbonus.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.marchcap.label_tag }}
        <select name="{{ form.marchcap.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.defcap.label_tag }}
        <select name="{{ form.defcap.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.attackboost.label_tag }}
        <select name="{{ form.attackboost.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.defbonus.label_tag }}
        <select name="{{ form.defbonus.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.statsforallies.label_tag }}
        <select name="{{ form.statsforallies.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.bonusforallies.label_tag }}
        <select name="{{ form.bonusforallies.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.marchboost.label_tag }}
        <select name="{{ form.marchboost.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.abilityboost.label_tag }}
        <select name="{{ form.abilityboost.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
      <span>
        {{ form.marchcap2.label_tag }}
        <select name="{{ form.marchcap2.name }}">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
        </select>
      </span>
    </div>
    <div class="flx flx-jc-fe">
      <input type="submit" value="Submit">
    </div>
  </form>
  {% endif %}
</section>
{%endblock%}