{% extends "base.html" %}
{% load static %}
{% block head_title %}Token Calculator{% endblock %}
{% block content %}

<sectioin class="tokenCalculator">
  <!-- Total results -->
  <div class="formResults__Total formResults__Container flx">
    <div class="formResults__TitleCard">
      <p class="formResults__Title">Total Gold</p>
    </div>
    <div class="formResults__Wrapper flx center-flx s-b-flx">
      <div class="formResults__Content center-m-a">
        {% if total is default %}
        <p class="formResults__Text"><span>0</span>M</p>
        {% else %}
        <p class="formResults__Text">{{ total }}M</p>
        {% endif %}
        <p class="labl-sml">Gold in Tokens</p>
      </div>
    </div>
  </div>
  <p class="formResults__TotalContainerText">Calculate the amount of total tokens you own by entering your current
    balances below </p>
  <hr>
  <!-- End total results -->
  <div class="formResults flx center-flx s-b-flx wrap-flx">
    {% if form.is_valid %}
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">500</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token1 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">1K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token2 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">2.5K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token3 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">5K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token4 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">10K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token5 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">25K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token6 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">50K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token7 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">100K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token8 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">250K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token9 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">500K</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token10 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/token-ico.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content">
          <p class="formResults__Text">1M</p>
          <p class="labl-sml">Token type</p>
        </div>
        <div class="formResults__Content">
          <p class="formResults__Text">{{ token11 }}</p>
          <p class="labl-sml">Total tokens</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- Help modal -->
  <ul class="helpModal helpModalSettings">
    <img id="closeModalBg" class="helpModaCloseBtn" src="{% static 'img/svg/close-icon.svg' %}">
    <p class="tag-primary">How-To</p>
    <li>Temp</li>
  </ul>
  <div class="help-wrapper s-b-flx">
    <img id="masteryHelp" class="helpIco" src="{% static 'img/svg/help-ico.svg' %}">
    <p class="hide">0</p>
  </div>
  <!-- End Help modal -->
  <form action="" method="post" class="tokenCalc">
    {% csrf_token %}
    <div class="iasg">
      <span>
        {{ form.token1.label_tag }}
        <input type="number" required name="{{ form.token1.name }}" id="{{ form.token1.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token2.label_tag }}
        <input type="number" required name="{{ form.token2.name }}" id="{{ form.token2.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token3.label_tag }}
        <input type="number" required name="{{ form.token3.name }}" id="{{ form.token3.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token4.label_tag }}
        <input type="number" required name="{{ form.token4.name }}" id="{{ form.token4.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token5.label_tag }}
        <input type="number" required name="{{ form.token5.name }}" id="{{ form.token5.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token6.label_tag }}
        <input type="number" required name="{{ form.token6.name }}" id="{{ form.token6.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token7.label_tag }}
        <input type="number" required name="{{ form.token7.name }}" id="{{ form.token7.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token8.label_tag }}
        <input type="number" required name="{{ form.token8.name }}" id="{{ form.token8.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token9.label_tag }}
        <input type="number" required name="{{ form.token9.name }}" id="{{ form.token9.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token10.label_tag }}
        <input type="number" required name="{{ form.token10.name }}" id="{{ form.token10.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
      <span>
        {{ form.token11.label_tag }}
        <input type="number" required name="{{ form.token11.name }}" id="{{ form.token11.id_for_label }}"
          autocomplete="off" placeholder="0">
      </span>
    </div>
    <div class="flx flx-jc-fe">
      <input type="submit" value="Calculate">
    </div>
  </form>
</sectioin>
{%endblock%}