{% extends "base.html" %}
{% load static %}
{% block head_title %}Troop Might Calculator{% endblock %}
{% block content %}

<section class="troopMight">
  <!-- Help modal -->
  <ul class="helpModal helpModalSettings">
    <img id="closeModalBg" class="helpModaCloseBtn" src="{% static 'img/svg/close-icon.svg' %}">
    <p class="tag-primary">How-To</p>
    <li>Temp</li>
  </ul>
  <div class="help-wrapper s-b-flx">
    <img id="modalHelp" class="helpIco" src="{% static 'img/svg/help-ico.svg' %}">
    <p class="hide">0</p>
  </div>
  <!-- End Help modal -->
  <p class="formResults__TotalContainerText">Calculate the amount of total tokens you own by entering your current
    balances below </p>
  <form action="" method="post" class="formInputs-wrapper center-flx center-m-a">
    {% csrf_token %}
    <span>
      {{ form.trainkill.label_tag }}
      <select name="{{ form.trainkill.name }}" id="{{ form.trainkill.id_for_label }}">
        <option value="1">Train</option>
        <option value="2">Kill</option>
      </select>
    </span>
    <span>
      {{ form.might.label_tag }}
      <input type="number" required name="{{ form.might.name }}" id="{{ form.might.id_for_label }}" autocomplete="off"
        value="0" placeholder="0">
    </span>
    <span>
      {{ form.troops.label_tag }}
      <input type="number" required name="{{ form.troops.name }}" id="{{ form.troops.id_for_label }}" autocomplete="off"
        value="0" placeholder="0">
    </span>
    <span>
      <label class="hide">0</label>
      <input type="submit" value="Calculate">
    </span>
  </form>
  <hr>
  <!-- Start form results -->
  <div class="formResults flx center-flx s-b-flx wrap-flx">
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/troop-icon.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content right-l-m-a">
          {% if might is default %}
          <p class="formResults__Text"><span>0</span></p>
          {% else %}
          <p class="formResults__Text">{{ might }}</p>
          {% endif %}
          <p class="labl-sml">Current Might</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/troop-icon.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content right-l-m-a">
          {% if troops is default %}
          <p class="formResults__Text"><span>0</span></p>
          {% else %}
          <p class="formResults__Text">{{ troops }}</p>
          {% endif %}
          <p class="labl-sml">Troops</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/troop-icon.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content right-l-m-a">
          {% if newmight is default %}
          <p class="formResults__Text"><span>0</span></p>
          {% else %}
          <p class="formResults__Text">{{ newmight }}</p>
          {% endif %}
          <p class="labl-sml">New Might</p>
        </div>
      </div>
    </div>
    <div class="formResults__Container flx">
      <div class="formResults__TitleCard">
        <p class="formResults__Title">
          <img class="tokenIco" src="{% static 'img/svg/troop-icon.svg' %}">
        </p>
      </div>
      <div class="formResults__Wrapper flx center-flx s-b-flx">
        <div class="formResults__Content right-l-m-a">
          {% if mightdiff is default %}
          <p class="formResults__Text"><span>0</span></p>
          {% else %}
          <p class="formResults__Text">{{ mightdiff }}</p>
          {% endif %}
          <p class="labl-sml">Might Difference</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End form results -->
</section>
{%endblock%}