{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HeckGuide is a helpful guide with tips and tricks built by the Heckfire community.">
  <meta name="author" content="Kevin Cornish">
  <title>HeckGuide | {% block head_title %}{% endblock %}</title>
  <link rel="canonical" href="https://heckguide.com">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- rel links -->
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favi/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favi/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favi/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favi/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favi/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favi/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favi/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favi/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favi/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favi/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favi/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favi/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favi/manifest.json' %}">
  <!-- CND's -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="modalBg"></div>
  <!-- Mobile navigation panel -->
  <div class="mob-panel">
    <div class="panel-content">
      <div class="top-c">
        <img id="mob-exit" class="close-ico" src="{% static 'img/svg/close-icon.svg' %}">
        {% if user.is_authenticated %}
        <p class="mob-user">{{ user.username }}</p>
        <div class="mob-account-links">
          <a href="{% url 'account' %}">
            <p class="mob-view-link">View Account</p>
          </a>
          {% if user.is_staff %}
          <a href="{% url 'admin:index' %}">
            <p class="mob-view-link">Admin</p>
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <nav class="mob-nav">
        <ul>
          <a href="{% url 'allies' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Allies</li>
          </a>
          <a id="realm-expand-link" href="#">
            <li><img src="{% static 'img/svg/mob-bolt-icon.svg' %}"> Realm Maps <img class="sub-icon"
                src="{% static 'img/svg/arrow-down-icon.svg' %}"></li>
          </a>
          <!-- Sub menu -->
          <ul class="realm-nav-sub">
            <li>
              <a href="{% url 'realmchat' %}">Realm Chat</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=10">Realm 10</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=23">Realm 23</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=99">Realm 99</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=106">Realm 106</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=128">Realm 128</a>
            </li>
            <li>
              <a href="{% url 'world' %}?realm=129">Realm 129</a>
            </li>
          </ul>
          <a href="{% url 'prices' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Ally Prices</li>
          </a>
          <a href="{% url 'namechanges' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Name Changes</li>
          </a>
          <a href="{% url 'timer' %}">
            <li><img src="{% static 'img/svg/mob-clock-icon.svg' %}"> Hourly Quest Timer</li>
          </a>
          <a id="calc-expand-link" href="#">
            <li><img src="{% static 'img/svg/mob-bolt-icon.svg' %}"> Heck Calculators <img class="sub-icon"
                src="{% static 'img/svg/arrow-down-icon.svg' %}"></li>
          </a>
          <!-- Sub menu -->
          <ul class="mob-sub">
            <a href="{% url 'AllyStatCalculator' %}">
              <li>Ally Stats</li>
            </a>
            <a href="{% url 'MasteryCalculator' %}">
              <li>Mastery</li>
            </a>
            <a href="{% url 'TokenCalculator' %}">
              <li>Token</li>
            </a>
            <a href="{% url 'BrewCalculator' %}">
              <li>Brew</li>
            </a>
            <a href="{% url 'TroopMight' %}">
              <li>Troop/Might</li>
            </a>
            <a href="{% url 'RallyCalculator' %}">
              <li>Raid Rally</li>
            </a>
          </ul>
          <a href="{% url 'DevBlog' %}">
            <li><img src="{% static 'img/svg/mob-blog-icon.svg' %}"> Blog</li>
          </a>
        </ul>
      </nav>
      <div class="mob-footer">
        <a href="{% url 'homepage' %}">
          <img class="mob-footer-logo" src="{% static 'img/svg/heckguide-logo.svg' %}">
        </a>
        <div class="mob-buttons">
          {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}">
            <div class="btn s-solid">
              <img src="{% static 'img/svg/sign-out-icon.svg' %}"> Sign Out
            </div>
          </a>
          {% else %}
          <a href="{% url 'account_login' %}">
            <div class="btn s-outline">
              <img src="{% static 'img/svg/lock-icon.svg' %}"> Log In
            </div>
          </a>
          <a href="{% url 'account_signup' %}">
            <div class="btn s-solid">
              <img src="{% static 'img/svg/sign-up-icon.svg' %}"> Sign Up
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Hero -->
  <div class="hero background-grd1">
    <div class="ptt1">
      <!-- Header -->
      {% include 'comps/header.html' %}
    </div>
  </div>
  <div class="clear"></div>

  {% if messages %}
  <div class="message-wrapper">
    <img src="{% static 'img/png/builder-helper.png' %}">
    <div id="messagebox" class="messagebox">
      <span id="closebtn" class="closebtn">&times;</span>
      <strong>Heck Message:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div id="wrap-centered" class="mainContent background-grd2">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <!-- Footer -->
  {% include 'comps/footer.html' %}
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>