{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HeckGuide is a helpful guide with tips and tricks built by the Heckfire community.">
  <meta name="author" content="Kevin Cornish">
  <title>HeckGuide | {% block head_title %}{% endblock %}</title>
  <link rel="canonical" href="https://heckguide.com">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- rel links -->
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favi/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favi/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favi/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favi/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favi/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favi/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favi/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favi/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favi/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favi/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favi/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favi/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favi/manifest.json' %}">
  <!-- CND's -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Mobile navigation panel -->
  <div class="mob-panel">
    <div class="panel-content">
      <div class="top-c">
        <img id="mob-exit" class="close-ico" src="{% static 'img/svg/close-icon.svg' %}">
        {% if user.is_authenticated %}
			<p class="mob-user">{{ user.username }}</p>
			<a href="{% url 'account' %}">
			  <p class="mob-view-link">View Account</p>
			</a>
			{% if user.is_staff %}
				<a href="{% url 'admin:index' %}"><p class="mob-view-link">Admin</p></a>
			{% endif %}
        {% endif %}
      </div>
      <nav class="mob-nav">
        <ul>
          <a href="{% url 'allies' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Ally Scraper</li>
          </a>
          <a href="{% url 'world' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Realm Scraper</li>
          </a>
          <a href="{% url 'prices' %}">
            <li><img src="{% static 'img/svg/mob-flame-icon.svg' %}"> Ally Prices</li>
          </a>
          <a href="{% url 'timer' %}">
            <li><img src="{% static 'img/svg/mob-clock-icon.svg' %}"> Hourly Quest Timer</li>
          </a>
          <a id="calc-expand-link" href="#">
            <li><img src="{% static 'img/svg/mob-bolt-icon.svg' %}"> Heck Calculators</li>
          </a>
          <!-- Sub menu -->
          <ul class="mob-sub">
            <a href="{% url 'MasteryCalculator' %}">
              <li>Mastery</li>
            </a>
            <a href="{% url 'TokenCalculator' %}">
              <li>Token</li>
            </a>
            <a href="{% url 'BrewCalculator' %}">
              <li>Brew</li>
            </a>
            <a href="{% url 'TroopMight' %}">
              <li>Troop/Might</li>
            </a>
            <a href="{% url 'RallyCalculator' %}">
              <li>Raid Rally</li>
            </a>
          </ul>
          <a href="{% url 'DevBlog' %}">
            <li><img src="{% static 'img/svg/mob-blog-icon.svg' %}"> Blog</li>
          </a>
        </ul>
      </nav>
      <div class="mob-footer">
        <a href="{% url 'homepage' %}">
          <img class="mob-footer-logo" src="{% static 'img/svg/heckguide-logo.svg' %}">
        </a>
        <div class="mob-buttons">
          {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}">
            <div class="btn s-solid">
              <img src="{% static 'img/svg/sign-out-icon.svg' %}"> Sign Out
            </div>
          </a>
          {% else %}
          <a href="{% url 'account_login' %}">
            <div class="btn s-outline">
              <img src="{% static 'img/svg/lock-icon.svg' %}"> Log In
            </div>
          </a>
          <a href="{% url 'account_signup' %}">
            <div class="btn s-solid">
              <img src="{% static 'img/svg/sign-up-icon.svg' %}"> Sign Up
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <header>
    <div>
      <nav>
        <a href="{% url 'homepage' %}">
          <img src="{% static 'img/svg/heckguide-logo.svg' %}">
        </a>
        <ul>
          <li>
            <a href="{% url 'timer' %}">Timer</a>
          </li>
          <li>
            <a href="{% url 'prices' %}">Ally Prices</a>
          </li>
          <li>
            <a href="{% url 'MasteryCalculator' %}">Mastery Calculator</a>
          </li>
          <li>
            <a href="{% url 'TokenCalculator' %}">Token Calculator</a>
          </li>
          <li>
            <a href="{% url 'BrewCalculator' %}">Brew Calculator</a>
          </li>
          <li>
            <a href="{% url 'TroopMight' %}">Troop/Might Calculator</a>
          </li>
          <li>
            <a href="{% url 'RallyCalculator' %}">Raid Rally Calculator</a>
          </li>
          <li>
            <a href="{% url 'DevBlog' %}">Dev Blog</a>
          </li>
          <li><a href="{% url 'allies' %}">Allies</a></li>
          <li><a href="{% url 'world' %}">World Map</a></li>
        </ul>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account' %}">{{ user.username }}</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
          {% endif %}
          {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
        </ul>
        <!-- Mobile navigation -->
        <ul class="mobile-nav">
          <li id="mob-ico" class="mob-menu-ico"><img src="{% static 'img/svg/burger-menu-icon.svg' %}"></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="clear"></div>

  {% if messages %}
  <div id="messagebox" class="messagebox">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Messages:</strong>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div id="wrap-centered">
    <div class="content">
      <section>
        {% block content %}
        {% endblock content %}
      </section>
    </div>
  </div>

  <footer>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'homepage' %}">
              <img src="{% static 'img/svg/heckguide-logo.svg' %}">
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{% url 'timer' %}">Timer</a>
          </li>
          <li>
            <a href="{% url 'prices' %}">Ally Prices</a>
          </li>
          <li>
            <a href="{% url 'MasteryCalculator' %}">Mastery Calculator</a>
          </li>
          <li>
            <a href="{% url 'TokenCalculator' %}">Token Calculator</a>
          </li>
          <li>
            <a href="{% url 'BrewCalculator' %}">Brew Calculator</a>
          </li>
          <li>
            <a href="{% url 'TroopMight' %}">Troop/Might Calculator</a>
          </li>
          <li>
            <a href="{% url 'RallyCalculator' %}">Raid Rally Calculator</a>
          </li>
          <li>
            <a href="{% url 'DevBlog' %}">Dev Blog</a>
          </li>
          <li>
            <a href="{% url 'allies' %}">Allies</a>
          </li>
          <li>
            <a href="{% url 'world' %}">World Map</a>
          </li>
        </ul>
      </nav>
      <p>This content is not affiliated with, endorsed, sponsored, or specifically approved by A Thinking Ape
        Entertainment Ltd. and A Thinking Ape Entertainment Ltd. is not responsible for it. For more information see A
        Thinking Ape Entertainment Ltd's Fan Content Policy.</p>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>