{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block head_title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <h2>Welcome {{ user.username }} !</h2>
</div>
{%else%}
<div class="subscription s-b-flx">
  <ul class="prices">
    <li class="header">Basic</li>
    <li class="grey">$ 1 / month</li>
    <li>Ally Scraper Access (Web) ✔</li>
    <li>Realm Scraper Access (Web) ✔</li>
    <li class="grey"><a href="#" class="donate">Donate</a></li>
  </ul>
  <ul class="prices">
    <li class="header">Basic</li>
    <li class="grey">$ 2 / month</li>
    <li>Ally Scraper Access (Web) ✔</li>
    <li>Realm Scraper Access (Web) ✔</li>
    <li>Ally and Realm Access (Discord) ✔</li>
    <li class="grey"><a href="#" class="donate">Donate</a></li>
  </ul>
  <ul class="prices">
    <li class="header">Full Access</li>
    <li class="grey">$ 3 / month</li>
    <li>Ally Scraper Access (Web) ✔</li>
    <li>Realm Scraper Access (Web) ✔</li>
    <li>Titan Alert Notifications ✔</li>
    <li class="grey"><a href="#" class="donate">Donate</a></li>
  </ul>
</div>
{%endif%}
{%endblock%}