{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block head_title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}

  <h2>Welcome {{ user.username }} !</h2>
  <p>Join the <a href="https://discord.gg/TRutDYrw9K">Discord</a> to gain access to our Heckguide Discord bots.</p>

{% endif %}

  {% for realm in realm_list %}
  <div class="realms">
    <ul>
      <li class="header">{{ realm.name }}</li>
      <li class="grey">{{ realm.subname|default:"Untitled Realm" }}</li>
      <li>Max Power: {{ realm.maximum_transfer_power }}</li>
      <li>Max Townhall: {{ realm.maximum_transfer_townhall_level }}</li>
      <li>Usercount: {{ realm.spawned_user_count }}</li>
      <li>PVP Rating: {{ realm.pvp_rating }}</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}