{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block head_title %}Prices{% endblock %}
{% block content %}
<div class="container">
  {% for price in prices_1 %}
  <p>{{ price }}</p>
  {%endfor%}
</div>

<div class="container">
  {% for price in prices_2 %}
  <p>{{ price }}</p>
  {%endfor%}
</div>

<div class="container">
  {% for price in prices_3 %}
  <p>{{ price }}</p>
  {%endfor%}
</div>

<div class="container">
  {% for price in prices_4 %}
  <p>{{ price }}</p>
  {%endfor%}
</div>

<div class="container">
  {% for price in prices_5 %}
  <p>{{ price }}</p>
  {%endfor%}
</div>
{%endblock%}